{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "extends": ["eslint:recommended", "plugin:node/recommended"],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "never"
        ],
        "no-console": 0,
        "node/no-deprecated-api": 0,
        "node/no-missing-require": 0,
        "node/no-unpublished-require": 0,
        "node/no-unsupported-features": 0,
        "node/shebang": 0
    }
}
